.single-product {
    &__wrapper {
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__info {
        padding: 0 40px;
        width: 400px;
    }
    &__img {
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-radius: 8px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__desc {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__price {
        font-weight: bold;
        font-size: 20px;
    }
}